In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Questão 1
Considere o conjunto de dados disponível em artificial1d.csv organizado em duas colunas, x e y. Seja um modelo de regressão linear para $\hat{y} = f(x)$.

a. Apresente os parâmetros do modelo e o MSE (erro quadrático médio) obtidos pelo algoritmo OLS (mínimos quadrados ordinários). Plote a reta resultante sobre os dados

In [5]:
df = pd.read_csv('artificial1d.csv', header=None)
df.head()

          0         1
0 -1.000000 -2.082017
1 -0.931034 -1.326980
2 -0.862069 -1.105598
3 -0.793103 -0.873946
4 -0.724138 -0.285027

In [7]:
X = df[0].values.reshape(-1, 1)
y = df[1].values